* { margin:0px;
    padding:0px;
    text-decoration: none;
}

body{background-color: blanchedalmond;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
p{padding: 10px 0;}
h1, h2, h3{
    text-align: left;
    padding: 15px 0px;
    
}
ul, ol{list-style-type: none;
    padding-bottom: 2em;}
ol li{font-weight: 600;
    font-size: 1.1em;}

ul.breadcrumb {
    padding: 10px 0px;
    list-style: none;
   
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
